<section class="widget" aria-labelledby="filterDepartment">
  <h3 class="widget-title" id="filterDepartment">Filter by Department</h3>

  <fieldset>
    <legend>Choose a department to filter by:</legend>
    <p>
      <input type="checkbox" class="filled-in" id="departmentTitle01">
      <label for="departmentTitle01">Title</label>
    </p>
    <p>
      <input type="checkbox" class="filled-in" id="departmentTitle02">
      <label for="departmentTitle02">Title</label>
    </p>
    <p>
      <input type="checkbox" class="filled-in" id="departmentTitle03">
      <label for="departmentTitle03">Title</label>
    </p>
    <p>
      <input type="checkbox" class="filled-in" id="departmentTitle04">
      <label for="departmentTitle04">Title</label>
    </p>
    <p>
      <input type="checkbox" class="filled-in" id="departmentTitle05">
      <label for="departmentTitle05">Title</label>
    </p>
    <p>
      <input type="checkbox" class="filled-in" id="departmentTitle06">
      <label for="departmentTitle06">Title</label>
    </p>
    <p>
      <input type="checkbox" class="filled-in" id="departmentTitle07">
      <label for="departmentTitle07">Title</label>
    </p>
  </fieldset>

</section>
