<section class="date-container hide-on-small-only" aria-labelledby="filterDate">
  <h2 id="filterDate">Filter by Date</h2>
  <div class="row">

    <div class="col s12 m3">
      <label for="filterYear">Year</label>
      <select class="browser-default" id="filterYear">
        <option value="2017" selected="">2017</option>
        <option value="2018">2018</option>
        <option value="2019">2019</option>
      </select>
    </div>

    <div class="col s12 m6">
      <label for="filtermonth">Month</label>
      <select class="browser-default" id="filterMonth">
        <option value="October" selected="">October</option>
        <option value="November">November</option>
        <option value="December">December</option>
      </select>
    </div>

    <div class="col s12 m3">
      <label for="filterDay">Day</label>
      <select class="browser-default" id="filterDay">
        <option value="11" selected="">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
      </select>
    </div>

  </div>
</section>
