/* --------------------------
CALENDAR LEFT WIDGETS
-------------------------- */

.widget {
  margin-bottom: 30px;
  color: #333;
}

.widget > input:last-child { margin-bottom: 0; }

.widget-title {
  margin-bottom: 20px;
  padding-bottom: 12px;
  border-bottom: 1px solid #e1e7ec;
  color: #333;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  position: relative;
}

.widget-title::after {
  content: " ";
  display: block;
  height: 3px;
  width: 42px;
  position: absolute;
  bottom: -2px;
  z-index: 2;
  background-color: #46BCEB;
}

input[type=text].form-control {
  padding: 0 10px;
  border: 1px solid #dbe2e8;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #fff;
  color: #606975;
  font-size: 14px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

}

label {
  font-size: 13px;
  color: #333;
}

.btn.blue {
  background-color: #03a9f4 !important;
  border: 1px solid #0d94d0;
  color: #fff;
  width: 100%;
}

/*--Checkboxes--*/

[type="checkbox"] + label {
  font-size: 13px;
  line-height: 1.6;
}

[type="checkbox"].filled-in:not(:checked)+label:after {
  background-color: #e6e6e6;
  border: 2px solid #e6e6e6;
}

[type="checkbox"].filled-in:checked+label:after {
  background-color: #03a9f4;
  border: 2px solid #03a9f4;
}

fieldset { border-color: transparent;}

