<div class="container">
  <div class="row">
<p class="col">
  {{selectedDepartment}}
</p>
  </div>

  <div class="row">
    <div class="MDCEvent-Container col s6">
<ul class="MDCEvent-List" *ngIf="filteredArray.length > 0; else elseBlock">
  <li class="MDCEvent-List-Item" *ngFor="let MDCEvent of filteredArray">
    <div *ngIf="MDCEvent.eventName" class="MDCEvent-List-Item--container">
      <h6 class="MDCEvent-List-Item--title">{{MDCEvent.eventName}}</h6>
      <span class="MDCEvent-List-Item--eventDate">Event Date: {{MDCEvent.eventDate}}</span>
    </div>
  </li>
</ul>
      <ng-template #elseBlock>
      <div class="card-panel blue-grey lighten-3">
        <p>
          No events found.
        </p>
      </div>
      </ng-template>
  </div>
    <div class="col s6">
      <ng2-datepicker [options]="{maxDate: currentDate}" [(ngModel)]="datePickerDate"></ng2-datepicker>
      <br/>
      <!--<app-categories></app-categories>-->
      <button class="btn blue-grey lighten-2" (click)="reset()">Reset</button>
    </div>
  </div>
</div>
