
    <div class="row">
      <div class="col s12 m7">
        <div class="MDCEvent-Container z-depth-1">
  <div class="MDCEvent-Title">
    <h2>{{formattedDate}}</h2>
    <!--<h2>Placeholder Title</h2>-->
    <span>Results</span>
  </div>

<table class="MDCEvent-List striped" *ngIf="filteredArray && filteredArray.length > 0; else elseBlock">
  <thead>
    <tr>
      <th>Time</th>
      <th>Event Information</th>
    </tr>
  </thead>
  <tbody>
  <tr *ngFor="let MDCEvent of filteredArray">
    <!--Ordered by time of event.-->
    <td class="MDCEvent-List-Item">
      <span class="MDCEvent-List-Item--startTime">{{MDCEvent.startTime}}</span> &mdash;
      <span class="MDCEvent-List-Item--endTime">{{MDCEvent.endTime}}</span>
    </td>
    <td class="MDCEvent-List-Item">
      <div *ngIf="MDCEvent.eventName" class="MDCEvent-List-Item--container">
        <!--Event URL will be displayed if it exists in the record, otherwise no link is rendered-->
        <h3 class="MDCEvent-List-Item--title">
          <a href="{{MDCEvent.eventUrl}}" *ngIf="MDCEvent.eventUrl; else eventURLElse">{{MDCEvent.eventName}}</a>
          <ng-template #eventURLElse>
            {{MDCEvent.eventName}}
          </ng-template>
        </h3>
        <span class="MDCEvent-List-Item--eventDate">Event Date: {{MDCEvent.eventDate}}</span>
      </div>
    </td>
  </tr>
  </tbody>
</table>
      <ng-template #elseBlock>
        <div class="MDCEvent-List-No-Results">
          <h5>
            No events found.
          </h5>
        </div>
      </ng-template>
  </div>
  </div>

<div class="col s12 m5">
  <ng2-datepicker [options]="{maxDate: currentDate}" [(ngModel)]="datePickerDate"></ng2-datepicker>
  <br/>
  <!--<app-categories></app-categories>-->
  <button class="btn blue-grey lighten-2" (click)="reset()">Reset</button>
</div>
</div>

