.MDCEvent-Title{
  padding: 15px;
  border-bottom: 5px solid #46BCEB;
}

.MDCEvent-Title h2 {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 24px;
  font-weight: bold;
}

.MDCEvent-Container{
  min-height: 400px;
  padding: 15px;
  background-color: #fff;
}

.MDCEvent-List{
  list-style-type: none;
  list-style-position: outside;
  font-family: "Helvetica Neue";
  font-size: 14px;
  font-weight: 400;
}

.MDCEvent-List-Item{
  margin: 60px 0;
}

.MDCEvent-List-No-Results{
  padding: 15px;
}

