<section class="widget" aria-labelledby="filterCalendar">
  <ul class="accordion-filters">
    <li>
      <input type="checkbox" [checked]="toggleContainer" tabindex="0" aria-label="Toggles the Select a Department section once its unchecked" />
      <i aria-hidden="true"></i>
      <h3 class="widget-title" id="filterCalendar">Select a department</h3>
      <div class="accordion-content">

        <legend>Choose a department to selectItem by:</legend>

        <mdc-checkbox-group
          [options]="options$ | async"
          [currentSelectedOptions]="currentSelectedOptions$ | async"
          (optionsSelected)="onOptionsSelected($event)">
        </mdc-checkbox-group>

      </div>
    </li>
  </ul>
</section>
