<section class="widget" aria-labelledby="filterCalendar">
  <h3 class="widget-title" id="filterCalendar">Select a department</h3>
  <form [formGroup]="calendarsForm">
  <fieldset>
    <legend>Choose a department to selectItem by:</legend>
      <mdc-checkbox-group formControlName="calendars"
                          [optionsData]="calendars$"
                          [ngModel]='checked'
                          (ngModelChange)='onChanges()'
                          (selectItem)="filterEvents($event)">
      </mdc-checkbox-group>
  </fieldset>
  </form>
</section>
