.next-prev__container {
	display: flex;
	justify-content: space-between;
}

.next-prev__item i {
	vertical-align: bottom;
}

.next-prev__item button {
	color: #333;
	font-size: 13px;
}

.next-prev__item button:focus {
	background-color: #03a9f4 !important;
    color: #fff;
}