<section class="widget" aria-labelledby="filterType">
  <h3 class="widget-title" id="filterType">Filter by Type</h3>

  <fieldset>
    <legend>Choose a type to filter by:</legend>
    <p>
      <input type="checkbox" class="filled-in" id="typeTitle01">
      <label for="typeTitle01">Title</label>
    </p>
    <p>
      <input type="checkbox" class="filled-in" id="typeTitle02">
      <label for="typeTitle02">Title</label>
    </p>
    <p>
      <input type="checkbox" class="filled-in" id="typeTitle03">
      <label for="typeTitle03">Title</label>
    </p>
    <p>
      <input type="checkbox" class="filled-in" id="typeTitle04">
      <label for="typeTitle04">Title</label>
    </p>
    <p>
      <input type="checkbox" class="filled-in" id="typeTitle05">
      <label for="typeTitle05">Title</label>
    </p>
    <p>
      <input type="checkbox" class="filled-in" id="typeTitle06">
      <label for="typeTitle06">Title</label>
    </p>
    <p>
      <input type="checkbox" class="filled-in" id="typeTitle07">
      <label for="typeTitle07">Title</label>
    </p>
  </fieldset>

</section>
