<section class="widget" aria-labelledby="filterType">
  <ul class="accordion-filters">
    <li>
      <input type="checkbox" [checked]="toggleContainer" tabindex="0" aria-label="Toggles the Filter by Type section once its unchecked" />
      <i aria-hidden="true"></i>
      <h3 class="widget-title" id="filterType">Filter by Types</h3>
      <div class="accordion-content">

        <legend>Choose a type to filter by:</legend>

        <mdc-checkbox-group
          [options]="options$ | async"
          [currentSelectedOptions]="currentSelectedOptions$ | async"
          (optionsSelected)="onOptionsSelected($event)">

        </mdc-checkbox-group>



      </div>
    </li>
  </ul>

</section>
