.navbar-fixed {
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.widget  {
	margin-bottom: 15px;
}

@media(min-width: 1250px) {
	.hide-on-1250-up {
		display: none;
	}

	.mobile-filters[_ngcontent-c4],
	.mobile-filters-container[_ngcontent-c4] {
		z-index: auto;
	}

	.middle-container {
		overflow: hidden;
	}
}

@media (min-width: 601px) {
	.row .col.offset-m1.calendar-events {
		margin-left: 4.3333333333%;
	}

	.row .col.m8.calendar-events {
		width: 70.6666666667%;
	}
}

@media (max-width: 1249px) {
  .row .col.m8.calendar-events {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto;
  }

  .sidebar .btn.blue {
  	display: none;
  }
}

@media print {
  aside,
  footer,
  button,
  .group-title,
  .global-header-container,
  .day-navigation__container,
  .waves-effect.wave-light.btn,
  .right-content-calendar .detail-item:first-child,
  .calendar-content article,
  .col.s12.m3
   {
    display: none !important;
  }

	.calendar-date
  .calendar-quick-view-container,
  .calendar-content article.printItem {
  	display: block !important;
  }

  h2.group-title {
  	font-size: 2em!important;
  }

  h3.calendar-subtitle {
  	font-size: 1.5em!important;
  }

  .calendar-title-container {
  	border-top: 1px dashed #ccc !important;
  }

	.row .col.m8.calendar-events {
		width: 100% !important;
		margin-left: 0 !important;
	}

	.container {
		width: 100% !important;
	}

	.right-content-calendar,
	h4.right-content-calendar--title,
	.content-container .row,
	.container {
		margin: 0 !important;
	}

	.general-page__title {
		margin-top: 0 !important;
	}

	.content-container,
	.content-main-calendar {
		padding: 0!important;
	}

	.right-content-calendar a {
		color: rgba(0,0,0,0.87) !important;
	}

	.calendar-quick-view-container {
		padding-left: 0!important;
	}

	h4.right-content-calendar--title { 
		border: 0 !important;
		border-bottom-color: #fff !important;
	}

	.event-name a:after {
		content: attr(href) !important;
		display: block !important;
	}

}