.navbar-fixed {
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.widget  {
	margin-bottom: 15px;
}

@media(min-width: 1250px) {
	.hide-on-1250-up {
		display: none;
	}

	.mobile-filters[_ngcontent-c4],
	.mobile-filters-container[_ngcontent-c4] {
		z-index: auto;
	}

	.middle-container {
		overflow: hidden;
	}
}

@media (min-width: 601px) {
	.row .col.offset-m1.calendar-events {
		margin-left: 4.3333333333%;
	}

	.row .col.m8.calendar-events {
		width: 70.6666666667%;
	}
}

@media (max-width: 1249px) {
  .row .col.m8.calendar-events {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto;
  }

  .sidebar .btn.blue {
  	display: none;
  }
}
