#main-body-content-container { padding-top: 25px; }

.row .col { padding: 0 13px; }

.text-muted { color: #9da9b9; }

.btn.white {
  color: #333;
}

.general-page__title {
  font-weight: 700;
  font-size: 34px;
  border-bottom: 5px solid #46BCEB;
  padding-bottom: 10px;
}

input:not([type]):focus:not([readonly]),
input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border: 1px solid #03a9f4;
  box-shadow: none;
}
