
h2.group-title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 0;
}

h2.group-title::after {
  content: " ";
  display: block;
  height: 3px;
  width: 100%;
  margin: 15px 0 0 0;
  background-color: #f7f6f6;
}
/******************************
  Start Right Hand side styles
********************************/

/* These Styles are only applied when the parent component has a class of 'calendarEventList__rightSide' */

:host-context(.calendarEventList__rightSide) h2.group-title {
  font-size: 1.25em;
  line-height: 1.25;
}


/******************************
  End Right Hand side styles
********************************/
