/* --------------------------
CALENDAR LEFT WIDGETS
-------------------------- */

.widget {
  margin-bottom: 30px;
  color: #333;
}

.widget > input:last-child { margin-bottom: 0; }

.widget-title {
  margin-bottom: 20px;
  padding-bottom: 12px;
  border-bottom: 1px solid #e1e7ec;
  color: #333;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  position: relative;
}

.widget-title::after {
  content: " ";
  display: block;
  height: 3px;
  width: 42px;
  position: absolute;
  bottom: -2px;
  z-index: 2;
  background-color: #46BCEB;
}

input[type=text].form-control {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  border-radius: 0;
  outline: none;
  height: 30px;
  width: 100%;
  font-size: 1rem;
  margin: 0 0 20px 0;
  padding: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;


  padding: 0 10px;
  border: 1px solid #dbe2e8;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #fff;
  color: #606975;
  font-size: 14px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

}

label {
  font-size: 13px;
  color: #333;
}

.btn.blue {
  background-color: #03a9f4 !important;
  border: 1px solid #0d94d0;
  color: #fff;
  width: 100%;
}

input:not([type]):focus:not([readonly]),
input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border: 1px solid #03a9f4;
  box-shadow: none;
}

@media (max-width: 1249px) {
  input[type=text].form-control.browser-default {
    font-size: 16px;
  }
}


