<article>

  <!--Calendar Item-->
  <div class="calendar-title-container" tabindex="0" (click)="showHide($event)">
    <div class="column">
      <h3 class="calendar-subtitle">{{event?.title}}</h3>
    </div>
    <div class="column">
      <span class="calendar-date">{{event?.startDate | date:'shortTime'}} - {{event?.endDate | date:'shortTime'}}</span>
      <div class="plus-icon"></div>
    </div>
  </div>

  <div class="calendar-quick-view-container" aria-expanded="false" style="display: none;">
    <div class="content-container">

      <div class="list-item">
        <div class="detail-item">
          <div class="icon-container">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
          </div>
        </div>
        <div class="detail-item">
          <div class="location">{{event?.address.location}}</div>
          <div class="street-address">{{event?.address.address1}}</div>
          <div class="address">
            <span class="city">{{event?.address.city}} </span>
            <span class="state">{{event?.address.state}}</span>
            <span class="zip">{{event?.address.zip}}</span>
          </div>
        </div>
      </div>

      <div class="list-item middle">
        <div class="detail-item">
          <div class="icon-container">
            <i class="fa fa-envelope-o" aria-hidden="true"></i>
          </div>
        </div>
        <div class="detail-item">
          <div class="location"><a href="mailto:{{event?.contactEmail}}">{{event?.contactEmail}}</a></div>
        </div>
      </div>

      <div class="list-item middle">
        <div class="detail-item">
          <div class="icon-container">
            <i class="fa fa-phone" aria-hidden="true"></i>
          </div>
        </div>
        <div class="detail-item">
          <div class="phone"><a href="tel:{{event?.contactPhone}}">{{event?.contactPhone}}</a></div>
        </div>
      </div>

      <div class="short-description" [innerHTML]='event?.description'>

        <!--<a class="waves-effect wave-light btn blue" href="calendar-item.html">Event Details</a>-->
      </div>

    </div>
  </div>

</article>
