<article>

  <!--Calendar Item-->
  <div class="calendar-title-container" tabindex="0" (keyup.enter)='showHide($event)' (click)="showHide($event)">
    <div class="column">
      <h3 class="calendar-subtitle">{{event?.title}}</h3>
    </div>
    <div class="column">
      <span class="calendar-date">{{event?.startDate | date:'shortTime'}} - {{event?.endDate | date:'shortTime'}}</span>
      <div class="plus-icon"></div>
    </div>
  </div>

  <div class="calendar-quick-view-container" aria-expanded="false" style="display: none;">
    <div class="content-container">

      <div class="row">

        <div class="col s12 m7 content-main-calendar">
          <div class="short-description" [innerHTML]='event?.description'>
          </div>
          <div class="list-item">
            <div class="detail-item">
              <span>Location:</span>
            </div>
            <div class="detail-item">
              <div class="location">{{event?.address.location}}</div>
              <div class="street-address">{{event?.address.address}}</div>
              <div class="street-address">{{event?.address.address2}}</div>
              <div class="address">
                <span class="city">{{event?.address.city}} </span>
                <span class="state">{{event?.address.state}}</span>
                <span class="zip">{{event?.address.zip}}</span>
              </div>
            </div>
          </div>


        </div>

        <div class="col s12 m4 offset-m1 right-content-calendar" *ngIf="(event?.contactEmail || event?.contactName || event?.contactPhone)">
          <h4 class="right-content-calendar--title">General Contact</h4>

          <div class="list-item middle" *ngIf="event?.contactName">
            <div class="detail-item">
              <div class="icon-container">
                <i class="fa fa-user" aria-hidden="true"></i>
              </div>
            </div>
            <div class="detail-item">
              <div class="event-name"><a *ngIf="event?.contactEmail" href="mailto:{{event?.contactEmail}}">{{event?.contactName}}</a><span *ngIf="!event?.contactEmail">{{event?.contactName}}</span></div>
            </div>
          </div>

          <div class="list-item middle" *ngIf="event?.contactPhone">
            <div class="detail-item">
              <div class="icon-container">
                <i class="fa fa-phone" aria-hidden="true"></i>
              </div>
            </div>
            <div class="detail-item">
              <div class="phone"><a href="tel:{{event?.contactPhone | internationalPhone}}">{{event?.contactPhone | phone}}</a></div>
            </div>
          </div>

          <div class="list-item middle" *ngIf="(event?.contactEmail && !event?.contactName)">
            <div class="detail-item">
              <div class="icon-container">
                <i class="fa fa-envelope" aria-hidden="true"></i>
              </div>
            </div>
            <div class="detail-item" >
              <div class="phone">
                <a href="mailto:{{event?.contactEmail}}">{{event?.contactEmail}}</a>
              </div>
            </div>
          </div>

        </div>

      </div>

      <span class="ada-text">If you need materials in accessible format, sign language interpreters, and/or any accommodation to participate in this meeting, please call <span class="ada-number"><a href="tel:{{event?.adaPhone | internationalPhone}}">{{event?.adaPhone | phone}}</a></span> or email <span class="email"><a href="mailto:{{event?.adaEmail}}" *ngIf="!event?.adaName">{{event?.adaEmail}}</a><a href="mailto:{{event?.adaEmail}}" *ngIf="event?.adaName">{{event?.adaName}}</a></span> at least five days in advance of the meeting.</span>

      <a *ngIf='event?.url["url"] && event?.url["description"]' class="waves-effect wave-light btn blue" target='_blank' href="{{event?.url['url']}}" tabindex="0">{{event?.url["description"]}}</a>

      <!-- Using this as the default value for when the event.url object has a url but no description.-->

      <a *ngIf='event?.url["url"] && !event?.url["description"]' class="waves-effect wave-light btn blue" target='_blank' href="{{event?.url['url']}}" tabindex="0">Event Details</a>

    </div>
  </div>

</article>
