/* --------------------------
CALENDAR MAIN CONTENT
-------------------------- */

.margin-bottom-0 { margin-bottom: 0; }

h2.group-title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 0;
}

.calendar-title-container {
  border-bottom: 1px solid #ddd;
  padding-bottom: 17px;
  margin-bottom: 35px;
}

.calendar-subtitle {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.5;
  margin: 0;
}

.calendar-quick-view-container {
  padding: 15px;
  font-size: 13px;
}

.calendar-quick-view-container .content-container {
  background-color: #fff;
  padding-top: 25px;
  border-radius: 10px;
}

.list-item {
  display: table;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

.detail-item {
  display: table-cell;
  vertical-align: top;
}

.list-item.middle .detail-item{ vertical-align: middle; }

.calendar-quick-view-container .content-main-calendar .list-item .detail-item:first-child {
  width: 80px;
}

.calendar-quick-view-container .content-main-calendar .list-item .detail-item:last-child {
  font-weight: bold;
  font-size: 14px;
}

.calendar-quick-view-container .content-main-calendar .short-description,
.calendar-quick-view-container .right-content-calendar {
  margin-bottom: 35px;
}


.calendar-quick-view-container .right-content-calendar .list-item .detail-item:first-child {
  width: 60px;
}

.right-content-calendar--title {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 17px;
  border-bottom: solid 1px #ddd;
  position: relative;
  margin: 0 0 20px 0;
}

.right-content-calendar--title:after {
  content: " ";
  display: block;
  height: 3px;
  width: 42px;
  position: absolute;
  bottom: -2px;
  z-index: 999;
  background-color: #46BCEB;
}

.icon-container {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid #e1e7ec;
  color: #606975;
  display: flex;
}

.icon-container .fa { margin: auto; }

.fa {
  font-size: 16px;
}

.btn {
  width: 100%;
}

.btn.blue {
  background-color: #027abb !important;
  border: 1px solid #0d94d0;
  color: #fff;
  width: 100%;
  margin: 15px 0 10px 0;
}

.btn.blue:focus {
  background-color: #03a9f4 !important;
}

.ada-text {
  font-size: 12px;
  font-style: italic;
}

.calendar-quick-view-container a[href$=".pdf"]:after {
  vertical-align: text-top;
}

@media (max-width: 600px) {
  .calendar-subtitle {
    margin-bottom: 5px;
  }

  .content-main-calendar {
    margin-bottom: 25px;
  }
}