
<ul>
  <li class="calendar-content" *ngFor="let eventDateCollection of events$ | async | paginate: { itemsPerPage: 3, currentPage: page}">
    <mdc-calendar-event-date  [eventDateCollection] = "eventDateCollection"></mdc-calendar-event-date>
  </li>
  <p *ngIf="(events$ | async)?.length === 0">
    No matching results found.
  </p>
</ul>
<div *ngIf="!displayFullView" class="col s12">
  <a href="/global/news-list.page" class="waves-effect wave-light btn alt-blue">View More News<span class="fa fa-angle-double-right" aria-hidden="true"></span></a>
</div>



