

<ng-container *ngIf="events$ | async; let eventsItems">

  Loading status: {{loadStatus | async}}

<ul *ngIf="eventsItems.length > 0">
  <li class="calendar-content" *ngFor="let eventDateCollection of eventsItems | paginate: { itemsPerPage: 3, currentPage: page}">
    <mdc-calendar-event-date  [eventDateCollection] = "eventDateCollection"></mdc-calendar-event-date>
  </li>
</ul>

<p class="noResults" *ngIf="!(isLoading | async) && eventsItems.length === 0">
  No matching results found.
</p>

<mdc-pagination *ngIf="eventsItems.length > 0"
                (pageChange)='page = $event'
                screenReaderPageLabel="page"
                screenReaderCurrentLabel="You're on page"></mdc-pagination>

</ng-container>
