<mdc-calendar-event-date></mdc-calendar-event-date>

<div class="pagination">
  <div class="column left-align hide-on-small-only">
    <a class="waves-effect wave-light btn white disabled"><i class="material-icons">arrow_back</i>Previous</a>
  </div>
  <div class="column center-align">
    <ul class="pages">
      <li class="active"><a href="#">1</a></li>
      <li><a href="">2</a></li>
      <li><a href="">3</a></li>
      <li><a href="">4</a></li>
      <li>...</li>
      <li><a href="">12</a></li>
    </ul>
  </div>
  <div class="column right-align hide-on-small-only">
    <a class="waves-effect wave-light btn white">Next<i class="material-icons">arrow_forward</i></a>
  </div>

</div>
